.paginator {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 75%;
    height: 10%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.selectedPage {
    font-weight: bold;
    font-size: 14px;
    background-color: #00ff37c7;
    color: white;
    width: 40px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.otherPage {
    font-size: 12px;
    background-color: #ff3b3bbe;
    color: #000000;
    width: 40px;
    height: 20px;
    text-align: center;
}