.header {
    grid-area: h;
    background-color: rgb(41, 46, 56);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    border-radius: 15px;
}

.header img {
    width: 50px;
}

.buttonLogout {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #904C6E;
    background: white;
    border: 1px solid;
    cursor: pointer;
    transition: .3s linear;
}

.buttonLogout:hover {
    background: #a7e0f0;
}

.buttonLogout:after {
    content: "\→";
    font-family: Linearicons-Free;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    margin-left: 25px;
    padding-left: 20px;
    border-left: 1px solid;
}

.buttonLogin {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 10px;
    background: white;
    border: 1px solid;
    cursor: pointer;
    transition: .3s linear;
}

a {
    text-decoration: none;
    color: #904C6E;
    font-family: 'Montserrat', sans-serif;
}

.buttonLogin:hover {
    background: #a7e0f0;
}