.nav {
    grid-area: n;
    background-color: burlywood;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: black;
}

