.mainInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.lookJob {
    max-width: 40%;
}

.notlookJob {
    max-width: 40%;
}

.profileImage {
    margin-top: 20px;
    padding-left: 5%;
    text-align: center;
}

.profileImage img {
    max-width: 300px;
    border-radius: 50%;
}

.info {
    position: relative;
    padding: 20px 0 0 5%;
    font-family: Aesthetic;
    font-weight: 400;
    font-size: 24px;
}

.infoBlock {
    margin-bottom: 5px;
}

.infoBlock:nth-last-child() {
    margin-bottom: 20px;
}

.editMode {
    position: absolute;
    right: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    color: #383d48;
    background-color: cornflowerblue;
    border: none;
}

.editMode span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    transition: .4s ease;
}

.editMode:after {
    content: '✍';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

.editMode:hover span {
    max-width: 150px;
    opacity: 1;
    margin-right: 6px;
}

.contacts {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.contacts_blocks {
    text-align: center;
}

.icons {
    width: 20px;
}